.catalog-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 24px;
}

/*планшет*/
@media (max-width: 1024px) {
  .catalog-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}

/*смартфон*/
@media (max-width: 600px) {
  .catalog-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
  }

  .header {
    flex-direction: column;
    gap: 12px;
  }
}